# Build artifacts
.build/
.swiftpm/

# Xcode
*.xcuserdata
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# SwiftPM
Package.resolved
/.build
/Packages
/*.xcodeproj
DerivedData/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Coverage
*.lcov
.coverage/